[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Amahi HDA Setup
Type=Link
URL=http://hda
Icon[en_US]=gnome-network-preferences
Name[en_US]=Amahi HDA Dashboard
Icon=gnome-network-preferences
