[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Amahi HDA Setup
Type=Link
URL=http://hda/setup
Icon[en_US]=gnome-network-preferences
Name[en_US]=Amahi HDA Setup
Icon=gnome-network-preferences
