[Unit]
Description=Amahi HDA installer service
Requires=network.target NetworkManager.service
After=network.target NetworkManager.service mariadb.service

[Service]
Type=oneshot
ExecStart=-/usr/bin/amahi-installer

[Install]
WantedBy=multi-user.target
