[Unit]
Description=Amahi HDA controller
ConditionPathExists=/usr/bin/hda-ctl
Requires=network.target NetworkManager.service
After=network.target NetworkManager.service mariadb.service
Before=monit.service dnsmasq.service

[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/hda-ctl
ExecStart=/usr/bin/hda-ctl $HDA_CTL_OPTIONS
StandardError=null
Restart=always

[Install]
WantedBy=multi-user.target
