[Unit]
Description=Amahi HDA controller
ConditionPathExists=/usr/bin/hda-ctl
Requires=rsyslog.service network.target NetworkManager.service
After=network.target rsyslog.service NetworkManager.service
Before=monit.service dnsmasq.service

[Service]
Type=forking
PIDFile=/run/hda-ctl.pid
EnvironmentFile=-/etc/sysconfig/hda-ctl
ExecStart=/usr/bin/hda-ctl $HDA_CTL_OPTIONS
ExecReload=/usr/bin/kill -HUP $MAINPID
StandardError=null
Restart=always

[Install]
WantedBy=multi-user.target
