Source: hda-ctl
Section: web
Priority: extra
Maintainer: Frans Meulenbroeks <fransmeulenbroeks@gmail.com>
Build-Depends: debhelper (>= 7.0.50)
Standards-Version: 3.9.3
Homepage: http://www.amahi.org/

Package: hda-ctl
Architecture: any 
Depends: chkconfig,bind9,bind9utils,dhcp3-server,mysql-server,samba,apache2,monit,libauthen-pam-perl,ruby,libdbd-mysql-ruby,ruby-dev,eruby,libaugeas-ruby,libdb-ruby1.8,ri1.8,php5-mysql,php5,libapache2-mod-php5,cadaver,liburi-perl,libwww-perl,rubygems,${misc:Depends},${shlibs:Depends}
Description: Amahi Home Digital Assistant daemon
 The Amahi Home Server is more than what you'd expect from a GNU/Linux
 home server. We call it "Home Digital Assistant" or HDA.  The Amahi
 Home Server is designed for home and small office environments where
 the 'technical support' staff do not want the job!  It is easy to use
 and offers cross-platform compatibility (PCs, Mac, GNU/Linux,
 Playstation, Xbox, you name it.)  The Amahi server is open source and
 Linux-based, which means it's reliable and virus-free.
